# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Automatic unit tests

on:
  push:
    branches: [ main, fixing_pytest_ci ]    

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: docker://python
    
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest==6.2.2
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test with pytest
      run: |
        pytest